include LICENSE
include AUTHORS
recursive-include docs *.txt *.html
recursive-exclude docs/build *.txt
recursive-include mongoforms/media *
recursive-include mongoforms/templates *
prune docs/build/html/_sources
