.listfield, .dictfield {
    width: 300px;
    margin: 0.5em 0;
}

.listfield-selected-items, .dictfield-items {
    margin: 0.2em;
}


.listfield-selected-items span, .listfield-new-item span,
.dictfield-items span, .dictfield-new-item span {
    font-size: 0.6em;
}

.listfield-new-item, .dictfield-new-item {
    margin: 0.2em;
}

.listfield-new-item select, .listfield-new-item input,
.dictfield-items input {
    font-size: 1em;
    position: relative;
    top: 0.1em;
    margin: 0 0.3em 0 0;
    width: 200px;
}

.dictfield-new-item input, .dictfield-new-item select {
    font-size: 1em;
    position: relative;
    top: 0.1em;
    margin: 0 0.3em 0 0;
    width: 100px;
}
